.App * {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.form {
  max-width: 800px;
  width: 100%;
  background-color: #ececec;
  padding: 40px 30px 10px;
  margin: 30px auto;
}

.form-wrapper {
  width: 75%;
  margin: 0 auto;
}

.form-title {
  margin: 0;
}

.form-subtitle {
  font-size: 20px;
  margin-top: 35px;
  margin-bottom:5px;
}

.form-product-card{
  background-color: #ffffff;
  margin-bottom:10px;
  margin-top:10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.form-product-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #dfdfdf; */
  background-color: #dfdfdf;
  padding: 10px 20px 15px 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.form-product-body{
  padding: 5px 20px 20px 20px;
}

.form-product-name{
  font-weight: bold;
}

.form-label {
  display: block;
  margin-top: 10px;
}

.form-field {
  display: block;
  width: 100%;
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  z-index: 1;
  resize: none;
  line-height: 1.2;
  color: #353535 !important;
  height: 38px;
  padding: 6px 8px;
  font-size: 15px;
  font-weight: 400;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.form-error {
  color: #ff4e09;
  font-size: 10px;
  font-family: "SamsungOne", arial;
}

.form-warning {
  color: #f29400;
  font-size: 12px;
  margin: 5px;
  text-align: justify;
}

.form__buttons-wrapper-warning {
  border-color: #ff4e09;
}

.form-btn-wrapper {
  display: flex;
  justify-content: flex-end;
}

.form-btn {
  background: #ff4e09;
  background: linear-gradient(90deg, #ff4e09 0%, #ff7c00 100%);
  border: none;
  color: #ffffff;
  padding: 7px 9px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-btn:hover {
  background: #ff9300;
  background: linear-gradient(90deg, #ff9300 0%, #ff9300 100%);
  border-color: #ff9300;
}

.form-btn-submit{
  padding: 8px 10px;
  font-size: 15px;
  font-weight: 700;
}

.form-btn--add {
  background: #4bb94b;
}

.form-btn--add:hover {
  background: #338333;
}

.form-product-remove {
  width:20px;
  height: 20px;
  border:1px solid transparent;
  border-radius:50%;
  cursor:pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:0;
  margin:0;
  color:#000;
  background-color: transparent;
}

.form-product-remove:hover {
  color:#fff;
  background-color: #ff0000;
}

.form-checkbox-wrapper{
  display: flex;
  flex-wrap:nowrap;
  cursor:pointer;
  margin-bottom:20px;
}

.form-checkbox-text{
  font-size:12px;
  text-align: justify;
  padding-left:5px;
}

.form-submit-wrapper{
  display: flex;
  justify-content: flex-end;
}

.form-footer{
  margin-top:20px;
  font-size:10px;
  text-align: justify;
}

.form-footer-link{
  text-decoration: none;
  color: #ff4e09;
}